body{
    margin: 0;
    background-image: url(/assets/background2.webp);
    font-family: "Monocraft";
}
html{
    scroll-behavior: smooth;
}

header{
    position: fixed;
    width: 100%;
    z-index: 100;
}
.container-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(38, 27, 47);
    color: gold;
}
.container-nav{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    background-color: rgb(38, 36, 47); 
}
.container-nav a{
    color: gold;
    text-decoration: none;
}
.container{
    display: flex;
    justify-content: center;
}
.container-body {
    margin: 0;
    background-color: rgba(165, 165, 186, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    width: 800px;
}


.item-container{
    display: flex;
    margin-bottom: 30px;
    background-color: rgba(0, 128, 0, 0);
}

.minecraft-item {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    transition: transform 0.5s ease-in-out;
    width: 100px;
    
}

.minecraft-item:hover {
    transform: translateY(-10px);
    transition: transform 0.5s ease-in-out;
    opacity: 0.8;

    
    
}


.after-items1, 
.after-items2, 
.after-items3, 
.after-items4 {
    display: none;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    opacity: 0;
    transform: translateY(-10px);
    transition: transform 0.5s ease-in-out;
    flex-direction: column;
    transform: scale(0);
     
}


.item1 .minecraft-item:hover + .after-items1,
.item2 .minecraft-item:hover + .after-items2,
.item3 .minecraft-item:hover + .after-items3,
.item4 .minecraft-item:hover + .after-items4 {
    opacity: .7;
    display: flex;
    transition: opacity 0.5s ease-in-out,;
    transform: translateY(-3px);
    transform: scale(1.1);
    transform: 0.5s ease-in-out;
    
    
}
.after-items1:hover,.after-items2:hover,.after-items3:hover,.after-items4:hover{
    display: flex;
    opacity: .7;
    transition: transform 0.5s ease-in-out;
    transform: scale(1);

}
.note-block-item:active{
    transition: transform 0.5s ease-in-out;
    transform: scale(1);
    
}


.blocks{
    display: flex;
    justify-content: center;

}
.MOBS{
    display: flex;
    justify-content: space-around;
   
}

#imagem {
    transition: transform 0.3s ease-in-out;
  }
  
  #aumentar {
    transform: scale(1.2);
  }

.text-center{
    text-align: center;
}
.full-content{
    justify-content: center;
    display: flex;
    width: 100%;
    margin: 0 auto;
}
.full-page{
   width: 70%;
   margin: 0 auto;
   background-color: rgb(34, 31, 37);
   height: 5000px;
   

}