body{
    margin: 0;
}
.container-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: slategray;
}
.container-nav{
    display: flex;
    justify-content: space-between;
    background-color: slateblue;
    
}
.container-nav a{
    color: gold;
    text-decoration: none;

}